<div class="container mw-100 pt-5 bg-light">
  <div class="row pt-5">

    <div class="col-xs-12 d-flex justify-content-center pt-5 mt-5" style="">
      <a
        href="/admin/login"
        class="btn btn-secondary border border-4 fw-bold"
      >Admin Login</a>
    </div>
    <br />
    <div class="col-xs-12 d-flex justify-content-center" style="">
      <h3 style="">AgoraKart</h3>
    </div>
    <br />
    <div class="col-xs-12 d-flex justify-content-center" style="">
      <img
        src="/images/common-images/icon.jpg"
        class="img-fluid border border-4 rounded-circle"
        alt="..."
        style="width:100px;height:50px"
      />
    </div>
    <div class="row" style="height:290px">

    </div>
  </div>
</div>